  @media screen and (min-width: 700px) {
    ul {
        display: flex;
        flex-wrap: wrap;
      }

    #restaurants-list li, #reviews-list li {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 900px) {
    #restaurants-list li, #reviews-list li {
      width: 33%;
    }
  }

  @media screen and (min-width: 1050px) {
    main, .header__inner, .nav, .content {
      width: 1050px;
      margin-left: auto;
      margin-right: auto;
    }
  }