@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #f3f3f3;
    margin: 0;
    position: relative;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #333;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    box-shadow: 0 0 8px 3px rgba(#01447e);
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

img,
embed,
video,
object {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#maincontent {
    min-height: 100%;
}

#footer {
    background-color: #444;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

/* skip link to content*/

.skip-link {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip-link:active,
a.skip-link:focus,
a.skip-link:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
}

/* ====================== Navigation ====================== */

nav {
    width: 100%;
    height: 80px;
    background-color: #252831;
    text-align: center;
}

nav h1 {
    margin: auto;
    padding: 20px 0 10px;
}

nav h1 a {
    color: #fff;
    display: block;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
    min-width: 48px;
    min-height: 48px;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    /* background-color: #eee; */
    font-size: 14pt;
    margin: 0;
    /*width: calc(50% - 80px);*/
}

/* Display list items side by side */

#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumb-nav {
    background-color: inherit;
    height: inherit;
    text-align: left;
}

/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */

#map-container {
    height: 400px;
}

#map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
    background-color: #3397DB;
    border-radius: 2px;
    align-items: center;
    padding: 15px;
}

.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
}

.filter-options select {
    border-radius: 3px;
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    min-height: 48px;
    letter-spacing: 0;
    margin: 15px;
    padding: 14px 10px;
    width: 200px;
}

.filter-options select:focus {
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.8);
    outline-color: #f18200;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 15px 15px 60px;
    text-align: center;
}

/* #restaurants-list .restaurant-card {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 100%;
} */

#restaurants-list li {
    margin: 15px 0;
}

#restaurants-list .restaurant-card {
    box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
    background: #fff;
    text-align: center;
    border-radius: 3px;
    position: relative;
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    border-radius: 4px 4px 0px 0px;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
}

#restaurants-list li h2 {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
}

#restaurants-list li a {
    background-color: orange;
    border-bottom: 3px solid #eee;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 10px;
    padding: 12px 30px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 100%;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

#restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
    display: block;
    width: 100%;
}

#restaurant-address {
    font-size: 16pt;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 16pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0;
    padding: 15px 0px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#restaurant-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
    background: #fff;
    text-align: center;
    border-radius: 3px;
    margin: 0px 0px 0px 20px;
}

#reviews-container h2,
#reviews-container h3 {
    color: #f58500;
    font-size: 20pt;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px 5px;
}

#reviews-container li {
    display: flex;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list .rating-card {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
    background: #fff;
    border-radius: 3px;
    text-align: center;
    margin: 0px 0px 20px;
    position: relative;
}

.rating-card-published {
    background-color: #333;
    border-radius: 3px 3px 0px 0px;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 15px 0px;
}

.rating {
    background-color: #FFA500;
    border-bottom: 3px solid #eee;
    border-radius: 3px;
    color: #fff;
    padding: 5px 15px 5px;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}

#reviews-container .reviewer {
    margin-right: 10px;
    color: #FFFFFF;
}

#reviews-container .date {
    color: #CCCCCC;
    margin-left: auto;
    margin-right: 15px;
    text-align: right
}

#reviews-list li p {
    display: inline-block;
    margin: 7px 30px;
    text-align: left;
}

#restaurant-container table {
    padding: 5px 15px;
    text-align: left;
    width: 100%;
}

#restaurant-hours td {
    color: #666;
}

/* ====================== Sync notification ====================== */

/* css is from https://www.w3schools.com/howto/howto_js_snackbar.asp*/

/* The snackbar - position it at the bottom and in the middle of the screen */

#notification {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

#notification.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* ====================== favorites toggle ====================== */

/* Required Styling */

label input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    margin-left: 2em;
    position: relative;
    cursor: pointer;
}

.custom-checkbox .glyphicon {
    color: gold;
    position: absolute;
    top: 0.4em;
    left: -1.25em;
    font-size: 0.75em;
}

.custom-checkbox .glyphicon-star-empty {
    color: gray;
}

.custom-checkbox .glyphicon-star {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star {
    opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked~.glyphicon-star {
    opacity: 1;
}

.topright {
    color: #f58500;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 26px;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;


}
/* ====================== form ====================== */
.card {
    background-color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
    display: flex;
    flex-flow: row wrap;
    margin: 5px 20px;
    padding: 0;
    width: 90%;
  }

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.form-section {
    color: red;
    display: flex;
    justify-content: center;
}

.card-title {
    align-items: center;
    background-color: #04a9f4;
    color: #fff;
    display: flex;
    justify-content: center;
    line-height: normal;
    padding: 0 16px;
    width: 100%;
  }

  .card-text {
    color: #616161;
    flex-grow: 1;
    font-size: 1rem;
    height: auto;
    line-height: 18px;
    margin: 16px;
    overflow: hidden;
    padding: 16px;
    width: 90%;
  }

  input {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    color: #757575;
    display: block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
  }

  .support-text {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
  }

  .textfield {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    max-width: 90%;
    min-width: 80%;
    padding: 10px 0;
  }

  .card-action {
    align-items: center;
    background-color: transparent;
    border-top: 1px solid #e0e0e0;
    color: inherit;
    display: flex;
    font-size: 16px;
    height: auto;
    justify-content: center;
    margin-top: 10px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
  }

  .button {
    border-radius: 2px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0;
    line-height: 36px;
    margin: 2px;
    min-width: 64px;
    outline: none;
    overflow: hidden;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    vertical-align: middle;
    width: 30%;
    will-change: box-shadow;
  }

  .button::after {
    background: rgba(255, 255, 255, .5);
    border-radius: 100%;
    content: '';
    height: 5px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform-origin: 50% 50%;
    transform: scale(1, 1) translate(-50%);
    width: 5px;
  }

  .raised {
    background: rgb(3, 169, 244);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #fff;
  }

/* ====================== responsive.css ====================== */

@media screen and (min-width: 700px) {
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    nav h1 a {
        font-size: 16pt;
    }
    #restaurants-list li {
        display: flex;
        width: calc((100% - 60px)/2);
        margin: 15px;
    }
    #reviews-list li {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    #reviews-list .rating-card {
        margin: 0px 20px 20px;
    }
    #restaurant-container {
        margin: 0px 20px 20px 20px;
    }
}

@media screen and (min-width: 1000px) {
    nav h1 a {
        font-size: 18pt;
    }
    #restaurants-list li {
        width: calc((100% - 90px)/3);
    }
    #reviews-list li {
        width: calc((100%)/2);
        margin-left: initial;
        margin-right: initial;
    }
}

@media screen and (min-width: 1200px) {
    main,
    .header__inner,
    .nav,
    .content {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    #reviews-list li {
        margin-left: initial;
        margin-right: initial;
    }
    #restaurants-list {
        padding: 15px 0px 60px;
    }
    #restaurants-list li {
        width: calc((100% - 60px)/3);
    }
    #restaurants-list li:nth-child(3n+1) {
        margin-left: 0;
    }
    #restaurants-list li:nth-child(3n) {
        margin-right: 0;
    }
}